In [5]:
# Load libraries and data
import pandas as pd

data = pd.read_excel('dataset1.xlsx')
# 10374 rows, 29 columns
print(data.shape)
data.head()

(10374, 29)

,uid,sex,fdr,any_fdr,source,screening_info,sample_date,age_at_sample,elisa,lips_unin_iaa,...,ia2_status_fu,zink_status_fu,all_reports_screening,final_report_screening,reevaluated,hemolyzed,sample_empty,lab,last_contact_or_t1d_date,last_contact_date_type
0,00032F0C-5916-4671-BB7B-A48314D14AF6,0.0,NaN,NaN,screening,NaN,2016-11-11,3.78,132.320000,NaN,...,NaN,NaN,negative,negative,NaN,NaN,NaN,Munich,2016-11-11,last_contact_date_without_t1d
1,0033DB11-56A2-4E3D-9B8F-0556819CF005,0.0,NaN,NaN,screening,NaN,2021-05-11,3.10,1.335415,19.007826,...,NaN,NaN,"call_for_2nd_sample,single_positive",single_positive,NaN,NaN,NaN,Munich,2023-06-19,last_contact_date_without_t1d
2,0033DB11-56A2-4E3D-9B8F-0556819CF005,0.0,NaN,NaN,screening,NaN,2021-06-17,3.21,NaN,NaN,...,NaN,NaN,"call_for_2nd_sample,single_positive",single_positive,NaN,NaN,NaN,Munich,2023-06-19,last_contact_date_without_t1d
3,0033DB11-56A2-4E3D-9B8F-0556819CF005,0.0,NaN,NaN,follow_up,NaN,2022-07-01,4.24,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Munich,2023-06-19,last_contact_date_without_t1d
4,005B2E43-F96E-406F-AB19-BECB1692A4C6,1.0,NaN,NaN,screening,NaN,2015-09-09,3.92,26.920000,NaN,...,NaN,NaN,negative,negative,NaN,NaN,NaN,Munich,2015-09-09,last_contact_date_without_t1d

In [7]:
# Check for single screening negatives
# uid only once in dataset with final_report_screening negative

# Count how often each uid appears
uid_counts = data['uid'].value_counts()

# Get list of uid that appear exactly once
uids_once = uid_counts[uid_counts == 1].index
# We have 3280 uid that show up only once
# print(uids_once)

# Double check their final report
df_once = data[data['uid'].isin(uids_once)]
print(df_once['all_reports_screening'].value_counts())
print(df_once['final_report_screening'].value_counts())

all_reports_screening
negative                                 3052
call_for_2nd_sample                       110
resend_low_volume                          56
call_for_2nd_sample,multiple_positive      21
no_report_yet                              21
resend_low_volume,negative                  8
resend_low_volume,resend_low_volume         5
multiple_positive                           4
negative,resend_low_volume,negative         1
resend_low_volume,multiple_positive         1
call_for_2nd_sample,negative                1
Name: count, dtype: int64
final_report_screening
negative               3062
call_for_2nd_sample     110
resend_low_volume        61
multiple_positive        26
no_report_yet            21
Name: count, dtype: int64

In [8]:
# Get all single screening negative reports
df_single_screening_neg = df_once[df_once['all_reports_screening'] == 'negative']
# df_single_screening_neg.to_excel("dataset1_single_screening_neg.xlsx", index=False)

In [ ]:
# Check how many negative reports have t1d_date as last_contact_date_type
print(df_single_screening_neg[df_single_screening_neg['last_contact_date_type'] == 't1d_date'].shape)
# There are 11 instances where despite negative single screening the last_contact_date_type is t1d_date
# These are most likely mistakes

# Check how many are hemolyzed -> 1132
print(df_single_screening_neg[df_single_screening_neg['hemolyzed'] == 1].shape)
# Check how many samples were reevaluated (should be none) -> 0
print(df_single_screening_neg[df_single_screening_neg['reevaluated'] == 1].shape)

(11, 29)
(1132, 29)
(0, 29)